# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,git,node,react

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
.github/*.orig

# Created by git when using merge tools for conflicts
.github/*.BACKUP.*
.github/*.BASE.*
.github/*.LOCAL.*
.github/*.REMOTE.*
.github/*_BACKUP_*.txt
.github/*_BASE_*.txt
.github/*_LOCAL_*.txt
.github/*_REMOTE_*.txt

### Node ###
# Logs
logs
*.log
yarn-error.log*

# Docs
dbDocs
Docs

# Dependency directories
node_modules/

# Storybook
storybook-static

# dotenv environment variable files
.docker.env
.env

### VisualStudioCode ###
.vscode/*
launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/*.code-snippets

# Build
build
dist

# Folder config file
[Dd]esktop.ini

# Types
react-app-env.d.ts

# Uploads
uploads

# Mac files
.DS_Store

# Certificates
.cert