#{map-get($selectorMap, txtInput)} {
    display: $block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    transition: 0.3s;
}

#{map-get($selectorMap, btn)} {
    background: color(black);
    color: color(white);
    padding: 10px;
    display: $flex;
    margin: 0 $auto;
    transition: 0.3s;
}
