// Variables
$zero: 0;
$hundred: 100%;
$auto: auto;
$none: none;
$box: border-box;
$media: 1900px;
$ten: 10px;
$flex: flex;
$spaceAround: space-around;
$onepx: 1px;
$solidbrd: solid;
$fivepx: 5px;
$spaceBetween: space-between;
$block: block;
$bold: bold;
$cntr: center;
$hundredpx: 100px;
$twohundredpx: 200px;
$twentyfivepx: 25px;
$twentypx: 20px;
$twentyfivepr: 25%;
$fiveteenpx: 15px;
$fivetiopr: 50%;
$blueclr: blue;
$col: column;
$thirtypr: 30%;
$fortypr: 40%;
$fiveteenpr: 15%;
$fortypx: 40px;
$fixed: fixed;
$all: all;
$easeinout: ease-in-out;
$fivehundredpx: 500px;
$one: 1;
$easeout: ease-out;
$forwards: forwards;
$twentypr: 20%;
$tenpr: 10%;
$redclr: red;
$thirtypx: 30px;
$fourpx: 4px;
$eightpx: 8px;
$sixteenpx: 16px;
$pointer: pointer;

// Selectors
$selectorMap: (
  global: "*",
  body: "body",
  globalImg: "img",
  label: "label",
  btn: ".btn",
  container: ".container",
  logoBox: ".logobox",
  link: ".link",
  txtInput: ".txtinput",
  navBar: ".navbar",
  topBar: ".topbar",
  loginBox: ".loginbox",
  loginRow: ".loginrow",
  loginCol: ".logincol",
  logo: ".logoimg",
  loginHeading: ".loginheading",
  errorHeading: ".errorheading",
  main: ".main",
  errorPara: ".errorpara",
  footerBox: ".footerbox",
  footerRow: ".footerrow",
  footerCol: ".footercol",
  footerLinks: ".footerlinks",
  contactBox: ".contactbox",
  contactRow: ".contactrow",
  contactCol: ".contactcol",
  modal: ".modal",
  modalHeader: ".modal-header",
  modalBody: ".modal-body",
  modalMain: ".modal-main",
  registerBox: ".registerbox",
  registerRow: ".registerrow",
  registerCol: ".registercol",
  registerSpecCol: ".registerspeccol",
  logoutBox: ".logoutbox",
);
