// Variables
$auto: auto;
$none: none;
$flex: flex;
$spaceAround: space-around;
$solidbrd: solid;
$block: block;
$cntr: center;
$col: column;
$fixed: fixed;
$row: row;
$colors: (
  blue: #0000ff,
  red: #ff0000,
  black: #000,
  white: #fff,
);

// Selectors
$selectorMap: (
  global: '*',
  body: 'body',
  globalImg: 'img',
  label: 'label',
  btn: '.btn',
  globalLink: 'a',
  address: 'address',
  container: '.container',
  logoBox: '.logobox',
  loginSection: '.loginsection',
  link: '.link',
  txtInput: '.txtinput',
  navBar: '.navbar',
  topBar: '.topbar',
  loginBox: '.loginbox',
  loginRow: '.loginrow',
  loginCol: '.logincol',
  logo: '.logoimg',
  loginHeading: '.loginheading',
  errorHeading: '.errorheading',
  main: '.main',
  errorPara: '.errorpara',
  aboutTxt: '.aboutTxt',
  footerBox: '.footerbox',
  footerRow: '.footerrow',
  footerCol: '.footercol',
  footerLinks: '.footerlinks',
  contactBox: '.contactbox',
  contactRow: '.contactrow',
  contactCol: '.contactcol',
  modal: '.modal',
  modalHeader: '.modal-header',
  modalBody: '.modal-body',
  modalMain: '.modal-main',
  registerBox: '.registerbox',
  registerRow: '.registerrow',
  registerCol: '.registercol',
  registerSpecCol: '.registerspeccol',
  logoutBox: '.logoutbox',
  txtArea: '.txtArea',
);

// Functions
@function color($val) {
  @return map-get($colors, $val);
}
