#{map-get($selectorMap, contactRow)} {
  display: $flex;
  padding: 10px;
  justify-content: $cntr;
}

#{map-get($selectorMap, contactCol)} {
  width: 15%;
  margin-bottom: 15px;
}

// Styles for mobiles
@media screen and (max-width: 1900px) {
  #{map-get($selectorMap, contactCol)} {
    width: 100%;
  }
}
