#{map-get($selectorMap, contactRow)} {
  display: $flex;
  padding: 10px;
  justify-content: $cntr;
  transition: 0.3s;
}

#{map-get($selectorMap, contactCol)} {
  width: 15%;
  margin-bottom: 15px;
  transition: 0.3s;
}

// Styles for mobiles
@media screen and (width < 320px) and (width > 768px) {
  #{map-get($selectorMap, contactCol)} {
    width: 100%;
  }
}
