#{map-get($selectorMap, registerRow)} {
  display: $flex;
  padding: 10px;
  justify-content: $cntr;
  transition: 0.3s all;
}

#{map-get($selectorMap, registerCol)} {
  width: 20%;
  margin-bottom: 15px;
  transition: 0.3s all;
}

#{map-get($selectorMap, registerSpecCol)} {
  width: 15%;
  margin-bottom: 15px;
  transition: 0.3s;
}

// Styles for mobiles
@media screen and (width < 320px) and (width > 768px) {
  #{map-get($selectorMap, registerCol)} {
    width: 100%;
  }
}
